# IDE folders & Files
.vs/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.o

# Project specific binary files
procdump

# Test binary files
tests/memoryEater/memoryEater
tests/memoryFree/memoryFree

# Project directories
bin/
release/

# Test core dumps generated
memoryEater_*
memoryFree_*
cat_*
